<div class="w-full lg:px-[10%] h-screen  bg-bg flex justify-center flex-col">
    <div class="flex flex-col justify-center " *ngIf="getState()==='start'">
        <h1 class="text-center my-auto ">Riskuj</h1>
        <button (click)="play()" class="btn-main mx-auto my-10">Hrát</button>
    </div>
    <!-- settings -->
    <div class="overflow-scroll" *ngIf="getState()==='settings'">
        <app-riskuj-settings></app-riskuj-settings>
    </div>
    <!-- game -->
    <div class="h-full" *ngIf="getState()==='game'">
        <app-riskujgame></app-riskujgame>
    </div>
    <!-- results -->
    <div class="h-full" *ngIf="getState()==='results'">
        <app-riskuj-results class="h-full"></app-riskuj-results>
    </div>
</div>
