<div class="text-center m-5">
    <div>
        <h2>Riskuj</h2>
    </div>
    <div class="mt-10">
        <h4>Na řadě je tým: <h3>{{teams[getTeamIndexOnTurn()].name}}</h3></h4>
    </div>
</div>
<div class="relative">
    <div class="w-full p-10">
        <div *ngFor="let row of rows"
             class="flex flex-row w-full h-40 justify-between bg-primary text-white gap-2 mt-2 px-2 rounded-lg">
            <div class="flex flex-col">
                <h3 class="w-[300px] text-white text-center text-2xl my-auto">{{row.category}}</h3>
            </div>
            <div *ngFor="let box of row.questionBoxes"
                 (click)="clickQuestion(row.category, box)"
                 class="flex flex-col w-full bg-bg-light text-white  shadow-lg my-2 rounded-lg"
                 [ngClass]="box.status == 'done' ? 'bg-primary cursor-cancel' : 'bg-open cursor-pointer'">
                <div class="my-auto text-center text-4xl"
                >{{box.status == 'done' ? '': box.price}}</div>
            </div>
        </div>
    </div>

    <div class="min-w-[400px]">
        <div class="flex flex-row justify-around">
            <div *ngFor="let team of teams; let index = index"
                 class="px-5 py-3 text-center  rounded-xl"
                 [ngStyle]="{'background-color': getColor(team.color)}"
                 [ngClass]=" index == getTeamIndexOnTurn()? 'border-8 border-primary' : 'border-0'">
                <h5 class="text-white mb-2">{{team.name}}</h5>
                <h5 class="text-white">{{team.points}}</h5>
            </div>
        </div>
    </div>

    <div class="absolute top-0 w-full h-full" *ngIf="openQuestionDialog">
        <app-question-detail
            [category]="selectedCategory"
            [price]="selectedPrice"
            (result)="resolveQuestion($event.teamIndex, $event.price)">
        </app-question-detail>
    </div>
</div>
