<div *ngIf="question" class="relative h-full w-full bg-white">
    <div class=" flex justify-around">

        <p class="m-20 text-primary">{{question.question}}</p>

    </div>
    <div *ngIf="!multipleChoice" class="mt-10 flex justify-around">
        <button *ngIf="!showAnswer" class="px-5 py-3 bg-primary text-white" (click)="showAnswer=true">odhalit odpoved</button>
        <div *ngIf="showAnswer">
            <div class="px-5 py-3 bg-secondary text-white">{{question.answers[0]}}</div>
            <div class="w-64 flex justify-around ">
                <button (click)="rightAnswer()" class="px-5 py-3  bg-green">spravne</button>
                <button (click)="wrongAnswer()" class="px-5 py-3  bg-red">spatne</button>
            </div>
        </div>
    </div>
    <div *ngIf="multipleChoice" class="mt-10 flex justify-around">
        <div *ngFor="let ans of question.answers"
             class="px-5 py-3 bg-secondary text-white">
            {{ans}}
        </div>
    </div>
    <div class="absolute top-3 left-3" (click)="closeQuestion()">zavrit</div>
</div>
